PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/company_automation
CLIENT_URL=http://localhost:5173
TARGET_URL=https://example.com
AUTO_CLOSE_BROWSER_ON_ERROR=false
ADB_PATH=C:\\Users\\VIKAS\\Downloads\\platform-tools-latest-windows\\platform-tools\\adb.exe